.image-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
.clickable-image {
    width: 300px;
    cursor: pointer;
  }
  
.fun-fact {
    font-size: 1rem;
    color: #333;
    margin-top: 10px;
  }

.map-container {
    position: relative;
    display: block;
    text-align: center; 
    margin-top: 20px; 
}

.map-image {
    max-width: 700px;  
    width: 100%;       
    max-height: 600px;
    height: 100%;      
    margin: 0 auto;   
    display: block;    
}

.region-button {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transform: translate(-50%, -50%);
}

.region-button:hover {
    background-color: rgba(255, 165, 0, 0.8);
}

.details {
    display: none; 
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1000; 
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    max-width: 90%; 
    width: 400px; 
    border-radius: 8px; 
    max-height: 80%; 
    overflow-y: auto; 
    border-radius: 8px; 
}

.details img {
    max-width: 100%;
    height: auto;
}

.close-button {
    background: #f00;
    color: #fff;
    padding: 5px;
    border: none;
    cursor: pointer;
}

  
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    line-height: 1.75rem;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

nav {
    background-color: #2c3e50; 
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 18px;
    font-weight: 500;
}

nav ul li a:hover {
    color: #4df266;
}

nav ul li a.active {
    color: #f2e74d;
}

.quizContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quizContainer > form {
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgb(165, 194, 232);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 4px;
    width: 90%;
}

.quiz {
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: center;
    gap: 10px;
    margin: 10px 20px 0px 20px;
}

form > h2 {
    text-align: center;
    margin: 20px auto;
}

form > p {
    text-decoration: underline;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
}

.question {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px 20px 20px;
}

.question > div {
    display: flex;
}


.questionTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.score {
    font-size: 24px;
    color: #555;
}

.correct {
    color: green;
    font-weight: bold;
    background-color: #e6f7e6;
    padding: 5px;
    border-radius: 4px;
}

.incorrect {
    color: red;
    font-weight: bold;
    background-color: #f8d7da;
    padding: 5px;
    border-radius: 4px;
}


.question input[type="radio"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #555;
    border-radius: 50%;
    background: #fff;
    margin-right: 10px;
    box-sizing: border-box;
}

.question input[type="radio"]:hover {
    background-color: #818181;
}

.question input[type="radio"]:checked {
    background-color: #467aff;
}

.question label {
    font-size: 16px;
    color: #555;
}

.quizSubmitContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px;
}

.quizSubmitContainer > button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

.quizSubmitContainer > button:hover {
    background-color: #45a049;
}

.content {
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.earthTable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

h1 {
    font-size: 40px; 
    margin: 20px auto;
    width: fit-content;
}

h2 {
    font-size: 28px;
    margin: 10px auto;
}

h3 {
    font-size: 24px;
}

section {
    margin: 20px auto;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 4px;
}

section p {
    font-size: 20px;
    margin: 10px 10px;
    text-align: center;
    padding: 4px;
}

.ecology {
    background-color: #2e853b83;
}

.geography {
    background-color: #80463077;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
}

footer div {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: auto;
}

footer p {
    font-size: 18px;
    font-weight: bold;
    margin: 0px;
}

footer ul {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    margin: 5px;
}

footer a:hover {
    color: #0d6efd;
}

table {
    margin-top: 20px;
    color: black;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #c9c9c9;
}